.apartmentCard-img {
    height: 209px;
}

.card {
    border: none;
}

.details {
    color: #747474;
}

.bed-bath {
    justify-content: space-between;
}

.footer {
    justify-content: space-between;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
}

.price {
    font-size: 2rem;
    font-weight: 700;
}

.details-btn .brand-btn {
    padding: 10px 15px !important;
}