
.sidebar li{
    margin-top: .5em;
    margin-bottom: 1em;
    :hover span{
        display: inline-block;
        margin-left: 5px;
        transition: .2s
    }
}
.sidebar svg{
    margin-right: 5px;
}

.dashboardBody {
    background-color:#F5F6FA !important;
}