@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.brand-btn {
    padding: 10px 30px !important;
    color: #ffffff !important;
    background-color: #275A53;
    border-radius: 5px;
    display: inline-block
}

.brand-color {
    color: #275A53;
}

div {
    font-family: 'Poppins', sans-serif;
}

.brand-bg {
    background-color: #F1F6F4;
}